{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum cupiditate magnam quidem. Iure similique perspiciatis ea cumque deleniti. Ab asperiores ducimus pariatur possimus quis nobis atque. Voluptatem, officiis dignissimos? Ducimus, itaque cumque odit doloribus consectetur id odio, omnis atque aut deleniti quam fugit ad tenetur quisquam? Ullam sequi animi quia hic cum ducimus reiciendis nulla aliquam, repellat esse sint numquam a impedit expedita! Reprehenderit officiis dolorem consectetur voluptates itaque, numquam impedit odit ipsam aspernatur similique accusantium voluptas quibusdam nostrum eaque! Modi repellat adipisci officiis a sunt tempora facere magnam eius iure veritatis, aliquam ipsa est quaerat nisi vitae doloremque. Reiciendis!</content></p>
        
        </div>
    </div>
</div>

{% endblock %}